:root {
    --secondary: #56432d;
    --primary: #e1dac7;
    --backdrop: #dacba2;
    --accent2: #65b0bb;
    --accent: black;
    --rowcount: 1;

}

@font-face {
    font-family: margin;
    src: url(MarginDemo-7B6ZE.otf);
}

@font-face {
    font-family: gvtime;
    src: url(GvTimeRegular-4B1zD.ttf);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    background-color: var(--backdrop);
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
}

#container>#bottomlinesbox {
    position: fixed;
    z-index: -1;
    left:80px;
    background-image: url('images/linesbottom.png');
    background-repeat: no-repeat repeat;
    background-size: 190px;
    height: 100vh;
    width: 300px;
}

#linestop {
    position: absolute;
    left: 80px;
    z-index: 1;
    height: 17vh;
}

#header {
    
    background-color:var(--accent2);
    height: 17vh;
    color: white;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#header>#addbookbtn {
    z-index: 2;
    font-size: 2rem;
    font-family: margin, sans-serif;
    background-color: var(--backdrop);
    border-color: rgb(71, 71, 71);
    border-radius: 10px;
    padding: 10px;
    border-width: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    transition: all 0.3s;
}

#header>#addbookbtn:hover {
    background-color: var(--secondary);
    color: white;
}

button {
    font-family: 'Quicksand', sans-serif;
}


#header>h1 {
    position: absolute;
    left: min(1vw, 50px);
    top: 20px;
    z-index: 100;
    font-size: 2.7rem;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(298deg) rotateY(6deg) rotateZ(313deg) translateX(9px) translateY(0px) translateZ(0px) skewX(0deg) skewY(5deg);
}

#header>#bookcount{
    z-index: 2;
    font-size: 7rem;
    font-family: gvtime, sans-serif;
    margin-right: 30px;
    margin-bottom: -35px;
}

#bookgrid {
    
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(var(--rowcount), 400px);
    margin: 20px 20px 0px 20px;
    gap: 20px;
    justify-content: center;

}

.bookbox {
    position: relative;
    margin-bottom: 20px;

}

.booktop {
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--accent);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    
}

.booktop>img {
    position: absolute;
    opacity: 0.1; 
    height: 370px;
}

.booktop>* {
    
    opacity: 1;
}

.bookinfo {
    text-align: center;
}

.mainbox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 40px 0 50px 0;
    justify-content: space-between;
    max-width: 100%;
    
}

.secondbox {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
}

.thirdbox {
    display: flex;
    justify-content: center;
}

.booktitle {
    font-size: 2.5rem;
    font-weight: bold;
    overflow-wrap: break-word;
}

.bookauthor {
    font-size: 1.5rem;
    overflow-wrap: break-word;
}

.bookpages, .bookread {
    color: #555;
    padding: 0 10px 0 10px;
}

.booktop>button, #submitbookbtn{
    font-family: margin, sans-serif;
    font-size: 1.2rem;
    position: absolute;
    background-color: var(--accent2);
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    bottom: 10px;
    transition: all 0.3s;
}

.booktop>button:hover, #submitbookbtn:hover {
    background-color: #336168;
    color: white;
}

.booktop>button.editbtn {
    right: 10px;
}

.booktop>button.deletebtn {
    right: 58px;
}

.bookbox>.firstpage {
    width: 95%
}

.page{
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    bottom: -3px;
	border-top: 3px solid white;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	height: 3px;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    text-align: center;
}

.pagebottom {
    bottom: -3px;
    border-top: 3px solid var(--accent);
    height: 3px;
}

.binding {
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    bottom: calc(var(--pagecount) * -6px);
    left: 6px;
	border-top: calc(var(--pagecount) * 6px) solid var(--accent);
	border-left: calc(var(--pagecount) * 6px) solid transparent;
	border-right: 0px solid transparent;
	height: 0px;
	width: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#addbookpanel {
    display: none;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    top: 30px;
    right: 30px;

    width: 300px;
    background-color: var(--secondary);
    border-style: solid;
    border-width: 10px;
    border-radius: 5%;
    box-shadow: 0px 5px 5px grey;
}

#addbookpanel.addbookdisplay {
    display: flex;
    flex-direction: column;
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0 30px 0;
    align-items: center;
    color: white;
}

form>legend {
    font-weight: bold;
    font-size: 2.1rem;
}

#formbox {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 10px;
    position: relative;
}

input, select {
    border-style: none;
    padding: 5px;
    width: 140px;
    margin: 5px;
    background-color: var(--primary);
    outline: none;
    border-radius: 10px;
    transition: all 0.3s;
}

input:hover, input:focus {
    background-color: var(--accent2);
}

select{
    width: 150px;
    padding: 5px;
}

form>#errormessage{
    display: none;
    height: 1.2rem;
    background-color: rgb(253, 121, 69);
    border-radius: 10px;
    padding: 5px;
    color: black;
}


#addbookpanel button#closebtn {
    position: absolute;
    right: 10px;
    top: 14px;
    background-color: transparent;
    border-style: none;
    filter: invert(100%) sepia(15%) saturate(1295%) hue-rotate(215deg) brightness(119%) contrast(100%);
}

#submitbookbtn {
    position: relative;
    margin-bottom: -10px;
}


